version: '3'

services:

  app:
    build: .
    volumes:
      - ./src:/app/client/src
      - ./node_modules:/app/node_modules
      - ./config:/app/config
    ports:
      - "3000:3000"

  db:
    image: mariadb:10.6.4
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_password
      MYSQL_DATABASE: app_db
      MYSQL_USER: db_user
      MYSQL_PASSWORD: db_user_pass
    ports:
      - "3306:3306"
    volumes:
      - ./data/db:/var/lib/mysql
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8080:80
